<nav class="navbar navbar-default"  ng-class="{active: main.toggle.navbar}">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle" ng-click="main.toggle.sidebar = !main.toggle.sidebar">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo"> 
          <a class="navbar-brand" href="#"><span class="highlight">app_name</span> </a>
        </li>
        <li>
          <button type="button" class="navbar-toggle"  ng-click="main.toggle.navbar = !main.toggle.navbar">
            <img class="profile-img" src="assets/images/profile.png">
          </button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        
        <li class="navbar-search hidden-md">
          <input id="search" type="text" placeholder="Search for performers...">
          <button class="btn-search"><i class="fa fa-search"></i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="texto">
			John Smith
		</li>
        <li class="dropdown profile">
          <a ui-sref="main.pages.profile" class="dropdown-toggle"  data-toggle="dropdown">
            <img class="profile-img" src="assets/images/profile.png">
            <div class="title">Profile</div>
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">Scott White</h4>
            </div>
            <ul class="action">
              <li>
                <a href="#">
                  Profile
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="badge badge-danger pull-right">5</span>
                  My Inbox
                </a>
              </li>
              <li>
                <a href="#">
                  Setting
                </a>
              </li>
              <li>
                <a href="#">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>