<aside class="app-sidebar"  ng-class="{active: main.toggle.sidebar}" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#" ng-bind-html="main.app.title"></a>
    <button type="button" class="sidebar-toggle"  ng-click="main.toggle.sidebar = !main.toggle.sidebar">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li ng-class="{active: main.page.menu == 'dashboard'}">
        <a ui-sref="main.dashboard">
          <div class="icon">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li ng-class="{active: main.page.menu == 'posts'}">
        <a ui-sref="main.posts">
          <div class="icon">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
          </div>
          <div class="title">Posts</div>
        </a>
      </li>
	   <li ng-class="{active: main.page.menu == 'messaging'}">
        <a ui-sref="main.messaging">
          <div class="icon">
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="title">Messages</div>
        </a>
      </li>
    </ul>
  </div>
</aside>
